<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.study.order.mapper.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.study.order.bean.Course" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="synopsis" property="synopsis" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="classification" property="classification" jdbcType="VARCHAR" />
    <result column="teacher_id" property="teacherId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, image, price, synopsis, description, classification, teacher_id, status,
    start_time, update_time
  </sql>


  <select id="getAllCourse" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from course
  </select>

  <select id="getCoursesByPage" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM course WHERE name like concat('%',#{key},'%')
    <if test="start!=null and size!=null">
      order by id limit #{start},#{size}
    </if>
  </select>


  <select id="getAllCourseOfTeacher" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM course where teacher_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="getCountByKey" resultType="Long">
    SELECT  count(*)  FROM course WHERE name like concat('%',#{key},'%');
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from course
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.study.order.bean.Course" >
    <!--<selectKey keyProperty="id" order="BEFORE" resultType="java.lang.String">-->
    <!--select UUID()-->
    <!--</selectKey>-->
    insert into course (id, name, image,
    price, synopsis, description,
    classification, teacher_id, status,
    start_time, update_time)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR},
    #{price,jdbcType=DOUBLE}, #{synopsis,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
    #{classification,jdbcType=VARCHAR}, #{teacherId,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
    #{startTime,jdbcType=TIMESTAMP},#{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.study.order.bean.Course" >
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="synopsis != null" >
        synopsis,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="classification != null" >
        classification,
      </if>
      <if test="teacherId != null" >
        teacher_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="synopsis != null" >
        #{synopsis,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="classification != null" >
        #{classification,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.study.order.bean.Course" >
    update course
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="synopsis != null" >
        synopsis = #{synopsis,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="classification != null" >
        classification = #{classification,jdbcType=VARCHAR},
      </if>
      <if test="teacherId != null" >
        teacher_id = #{teacherId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study.order.bean.Course" >
    update course
    set name = #{name,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      synopsis = #{synopsis,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      classification = #{classification,jdbcType=VARCHAR},
      teacher_id = #{teacherId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>